body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #0096881c;
}

.canvas-container {
    width: 100%;
    text-align: center;
    min-height: 703px;
}

canvas {
    padding: 0;
    margin: 10px;
    display: inline;
    border: 1px solid black;
}

canvas:hover {
    cursor: none;
}

.start-screen {
    position: absolute;
    text-align: center;
    background: linear-gradient(to top right, black, rgba(73, 73, 73, 0.95));
    left: 50%;
    margin-left: -300px;
    height: 600px;
    width: 600px;
}

.start-text-container {
    position: absolute;
    list-style-type: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 50%;
    left: 50%;
    margin: -55px 0 0 -200px;
}

.hidden {
    display: none;
}

.fadeout {
    -webkit-animation-name: fadeout;
    animation-name: fadeout;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.fadein{
    -webkit-animation-name: fadein;
    animation-name: fadein;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.startText {
    color: white;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wipe {
    background: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(55%, rgba(255, 255, 255, 1)), color-stop(60%, rgba(255, 255, 255, 0)), color-stop(70%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 1) 70%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 1) 70%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 1) 70%);
    -webkit-animation: wipe 10s infinite;
    animation: wipe 10s infinite;
    color: rgba(255, 255, 255, 0.1);
    background-size: 500px 100%;
    background-position: 0 0;
    background-color: #222;
}

@-webkit-keyframes wipe {
    0% {
        background-position: top left;
    }
    100% {
        background-position: top right;
    }
}

@keyframes wipe {
    0% {
        background-position: top left;
    }
    100% {
        background-position: top right;
    }
}

.main {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 3em;
    width: 150px;
    text-align: center;
}

.play {
    margin-left: 5px;
    font-size: 1.25em;
    opacity: .8;
    width: 100px;
}

.play:hover {
    opacity: 1;
    cursor: default;
}

.play:active {
    background-color: white;
}

canvas {
    border: 1px solid black;
}

.bottom-text {
    color: white;
    bottom: 0;
    font-size: 1em;
}

/*------- Settings Page----------*/
.settings-container{
    color: white;
    left: 50%;
    padding: 30px;
    margin-left: -300px;
    position: relative;
    background: linear-gradient(to top right, black, rgba(73, 73, 73, 0.95));
    width: 540px;
    height: 540px;
  }

#header-settings{
    padding: 0;
    margin: 0;
    font-family: 'Helvetica';
    text-align: center;
    font-size: 3.5em;
}

ul{
    padding: 0;
    list-style-type: none;
}

ul > li{
      padding: 5px;
      font-family: 'Helvetica';
      font-size:2em
}

.settings-inputs{
    margin-top: 85px;
    left: 100px;
}

.settings-labels{
    margin-left: 45px;
    float: left;
    overflow: auto;
}

.input-selections{
    float: right;
    overflow: auto;
    margin-right: 100px;
    text-align: center;
}
  
.slider:focus{
    outline: none;
}

.button-list{
    position: absolute;
    display: inline-block;
    left: 50%;
    margin-left: -158px;
    bottom: 100px;
}

.button{
    text-align: center;
    font-family: "Bookman Old Style";
    font-size: 1em;
    width: 150px;
    background-color: #77351d;
    color: white;
    padding: 10px;
    border-radius: 25px;
    opacity: .9; 
}

.button:focus{
    outline: none;
}

.button:hover{
    opacity: 1;
}

.submit{
    margin-left: 12px;
}